Repository Jolteon-TQS/Jolteon, pull requests merged in 2025-06, with the labels that each got.

#19 Jolteon 26 check all bikes placed on map
  backend/pom.xml
  backend/src/main/java/tqs/project/jolteon/controllers/ChargingSpotController.java
  backend/src/main/java/tqs/project/jolteon/entities/BaseUser.java
  backend/src/main/java/tqs/project/jolteon/entities/Bike.java
  backend/src/main/java/tqs/project/jolteon/entities/ChargingSpot.java
  backend/src/main/java/tqs/project/jolteon/repositories/ChargingSpotRepository.java
  backend/src/main/java/tqs/project/jolteon/services/ChargingSpotService.java
  backend/src/main/java/tqs/project/jolteon/services/OperatorService.java
  backend/src/test/java/tqs/project/jolteon/controllers/ChargingSpotControllerTest.java
  backend/src/test/java/tqs/project/jolteon/services/ChargingSpotServiceTest.java
  compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/get-bike.tsx
  frontend/src/api/station-crud.tsx
  frontend/src/components/BikeMap.tsx
  frontend/src/components/LandmarkMap.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/PanelMap.tsx
  frontend/src/components/RouteMap.tsx
  frontend/src/components/StationsMap.tsx
  frontend/src/pages/control_panel.tsx
  package-lock.json
  package.json
Labels: enhancement, frontend

#22 Jolteon 15 adding an entity notification / UI changes
  .gitignore
  frontend/src/App.tsx
  frontend/src/components/BikeMap.tsx
  frontend/src/components/Clock.tsx
  frontend/src/components/LandmarkMap.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Notify.tsx
  frontend/src/components/PanelMap.tsx
  frontend/src/components/RouteMap.tsx
  frontend/src/components/ShowNotifications.tsx
  frontend/src/components/StationsMap.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/bikes.tsx
  frontend/src/pages/city_admin.tsx
  frontend/src/pages/control_panel.tsx
  frontend/src/pages/home.tsx
Labels: frontend

#36 Grafana crendentials fixed
  compose.yml
Labels: bug-fix

#37 Create k6 dashboard in grafana + load and spike tests
  .env.example
  .env_example
  backend/src/main/resources/data.sql
  compose.yml
  k6/scripts/rent-bikes-load-test.js
  k6/scripts/spike-test.js
Labels: enhancement
